*.xml
*.iml
*.class
**\.idea\**
JavaCore/JavaCore.iml
JavaCore/The_Count_of_Monte_Cristo.txt
JavaCore/.idea/misc.xml
JavaCore/Clients.conf
MyWork/.idea/description.html
JavaCore/out/production/JavaCore/META-INF/JavaCore.kotlin_module
/JavaCore/classLoader/target/
/NetBeansProjects/web-customer-tracker/target/
/JavaCore/chapter2_10/target/
/NetBeansProjects/spring-demo-aop/target/
/telegram-bot/target/
telegram-bot/src/main/resources/bot-data.properties

/JavaCore/chapter2_11/target/
/Patterns/target/
/Streams/target/
*.jar
