*.xml
*.iml
*.class
**\.idea\**
JavaCore/JavaCore.iml
JavaCore/The_Count_of_Monte_Cristo.txt
JavaCore/.idea/misc.xml
JavaCore/Clients.conf
MyWork/.idea/description.html
JavaCore/out/production/JavaCore/META-INF/JavaCore.kotlin_module
/JavaCore/classLoader/target/
/NetBeansProjects/web-customer-tracker/target/